.card{
    color: black;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, .5);
    margin: 5px;
    text-align: center;

}

.card-text{
    font-weight: 500;
}

.butns .positive{
    background-color: #5FD068;
}
.butns .positive:hover{
    background-color: #4B8673;
}
.butns .negative{
    background-color: #F5DF99;
}
.butns .negative:hover{
    background-color: #F6FBF4;
}