.navBar{
    display: flex;
    background-color: #5FD068;
    justify-content: space-around;
    align-items: center;
    
}
.navBar a .logo-nav:hover {
    filter: grayscale(65%);
    
}
.logo-nav{
    width: 80px;
    height: 80px;
    justify-content: center;
    
    
    
}
.logo-cart{
    text-decoration: none;
    transition: transform .7s ease-in-out;
}
.logo-cart:hover{
    transform: rotate(90deg);
}




.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    
    font-weight: 1000;
}

.nav li a{
    padding: 20px;
    text-decoration: none;
    color: #F5DF99;
}
.nav-active{
    border-bottom: solid 2px #F5DF99 ;
}

.nav li a:hover{
    color: #F6FBF4;
    border-bottom: solid 2px #F6FBF4 ;
}



