.navBar{
    display: flex;
    background-color: black;
    justify-content: space-around;
    align-items: center;
}

.logo-nav{
    width: 80px;
    height: 80px;
    justify-content: center;
}


.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    
    font-weight: 1000;
}

.nav li a{
    padding: 20px;
    text-decoration: none;
    color: red;
}
.nav-active{
    border-bottom: solid 2px red ;
}

.nav li a:hover{
    color: white;
    border-bottom: solid 2px white ;
}

