.footer{
    background-color: #4B8673;
    color: white;
}

.colores{
    color: #F5DF99;
}

.box li a{
    text-decoration: none;
    color: #F5DF99;
}
.box li a:hover{
    color: #F6FBF4;
    border-bottom: solid 2px #F6FBF4 ;
}
li{
    list-style: none;
    
}
.col h2{
    color: #F5DF99;
}
